#draw {
    background: black;
}

#formClassName {
    margin-right: auto;
    margin-left: auto;
    background-color: #e9ecef;
    opacity: 1;
}

#classProbability {
    margin-right: auto;
    margin-left: auto;
    background-color: #e9ecef;
    opacity: 1;
}